
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<h2>Login</h2>
<form method="post">
    <input type="text" class="form-control" name="Username" placeholder="Username" />
    <input type="text" class="form-control" name="Password" placeholder="Password" />
    <input type="submit" value="Login" class="btn btn-success" />

</form>
