
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<h2>SignUp</h2>

<form>
    <input type="text" class="form-control" placeholder="Username" />
    <input type="text" class="form-control" placeholder="Password" />
    <input type="submit" value="Sign Up" class="btn btn-success" />

</form>