<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script>
			var app = angular.module("my-app",[]);
			
			/*app.controller("controller-name",function($scope){
			
			});*/
			
			app.controller("my-ctrl",function($scope){
				$scope.name = "Tanvir Ahmed";
			});
			
			app.controller("news-ctrl",function($scope,$http){
				
				$http.get("https://localhost:44399/api/news/get/1").then(function(resp){
					$scope.obj = resp.data;
				},function(err){});
				
			});
			
			app.controller("login-ctrl",function($scope,$http){
				$scope.login = function(){
					var obj ={
								Username:$scope.uname,
								Password:$scope.pass
							};
					$http.post("https://localhost:44399/api/login",obj).then(function(resp){
						$scope.msg=resp.data.TokenKey;
						$scope.color="green";
					},
					function(err){
						$scope.msg=err.data.Msg;
						$scope.color="red";;
					});
				};
				
			});
			
		</script>
	</head>
	<body ng-app="my-app">
		<div></div>
		<div >
			<input type="text" ng-model="name">
			<h2>My name is {{name}}</h2>
			<h2>My name is <span ng-bind="name"></span></h2>
			<p>The sum of 5 & 6 is {{5+6}}</p>
		</div>
		
		<div ng-controller="my-ctrl">
			<input type="text" ng-model="myName">
			<p>Variable from controller {{name}}</p>
		</div>
		
		<div ng-controller="news-ctrl">
			<h1>{{obj.Title}}</h1>
			<h1>{{obj.Date}}</h1>
		</div>
		
		<div>
			<p>The sum of 5 & 6 is {{5+6}}</p>
		</div>
		
		<div ng-controller="login-ctrl">
			<form ng-submit="login()">
				<input type="text" ng-model="uname"/> </br>
				<input type="password" ng-model="pass"/> </br>
				<input type="submit">
			</form>
			<span style="color:{{color}}">{{msg}}</span>
		</div>
	</body>
</html>