
@{
    ViewBag.Title = "Index";
}

<div>
    <a href="/">Home</a>
    <a href="/Portfolio/Education">Education</a>
    <a href="/Portfolio/Projects">Projects</a>
    <a href="/Portfolio/References">References</a>

</div>

<h2>Name: @ViewBag.Name</h2>
<h3>Bio: @ViewBag.Bio</h3>

